@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models;
@{
    var content = (ContentModels.ImageItem)Model.Content;
   
    //var settings = (ContentModels.MyElementTypeAliasOfSettings)Model.Settings;
}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      @{
      var itemIndex=0;
        @foreach(MediaWithCrops item in content.Image)
        {
                var isFirstSlide = itemIndex == 0;
                <div class="carousel-item @(isFirstSlide ? "active" : null)">
                <img class="d-block w-50" src="@item.GetCropUrl()">
            </div>
            itemIndex++;
        }
        }
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>
</div>